.body { background-color: #4161b4; }
/*
     FILE ARCHIVED ON 15:23:54 Feb 09, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:39:27 Jul 30, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.636
  exclusion.robots: 0.037
  exclusion.robots.policy: 0.023
  esindex: 0.013
  cdx.remote: 7.699
  LoadShardBlock: 201.303 (3)
  PetaboxLoader3.resolve: 150.892 (5)
  PetaboxLoader3.datanode: 82.723 (5)
  load_resource: 130.612 (2)
*/
